syn/DE_1/DNN/db/*
syn/DE_1/DNN/*
syn/DE_1/DNN/rtl/*.bak
syn/DE_1/DNN/*.bak
!syn/DE_1/DNN/DE1_DNN.htm 
!syn/DE_1/DNN/DE1_DNN.qpf 
!syn/DE_1/DNN/DE1_DNN.qsf 
!syn/DE_1/DNN/DE1_DNN.sdc 
!syn/DE_1/DNN/rtl/
!syn/DE_1/DNN/report/

sim/PE/*.mpf
sim/PE/*.mti
sim/PE/*.wlf
sim/PE/work/*

sim/multipler/*.mpf
sim/multipler/*.mti
sim/multipler/*.wlf
sim/multipler/work/*

sim/relu/*.mpf
sim/relu/*.mti
sim/relu/*.wlf
sim/relu/work/*

sim/MAC/*.mpf
sim/MAC/*.mti
sim/MAC/*.wlf
sim/MAC/work/*

sim/DNN/*.mpf
sim/DNN/*.mti
sim/DNN/*.wlf
sim/DNN/work/*

sim/Top/*
!sim/Top/done.do 
!sim/Top/reset.do 
!sim/Top/sourcefile.txt 
!sim/Top/start.do