syn/DNN/db/*
syn/DNN/*
syn/DNN/rtl/*.bak
syn/DNN/*.bak
!syn/DNN/DE1_DNN.htm 
!syn/DNN/DE1_DNN.qpf 
!syn/DNN/DE1_DNN.qsf 
!syn/DNN/DE1_DNN.sdc 
!syn/DNN/rtl/
!syn/DNN/report/

syn/OutLayer/db/*
syn/OutLayer/*
syn/OutLayer/rtl/*.bak
syn/OutLayer/*.bak
!syn/OutLayer/DE1_OutLayer.htm 
!syn/OutLayer/DE1_OutLayer.qpf 
!syn/OutLayer/DE1_OutLayer.qsf 
!syn/OutLayer/DE1_OutLayer.sdc 
!syn/OutLayer/rtl/
!syn/OutLayer/report/

sim/PE/*
!sim/PE/done.do 
!sim/PE/reset.do 
!sim/PE/sourcefile.txt 
!sim/PE/start.do 
!sim/PE/wave.do

sim/multipler/*.mpf
sim/multipler/*.mti
sim/multipler/*.wlf
sim/multipler/work/*

sim/relu/*.mpf
sim/relu/*.mti
sim/relu/*.wlf
sim/relu/work/*

sim/MAC/*.mpf
sim/MAC/*.mti
sim/MAC/*.wlf
sim/MAC/work/*

sim/DNN/*.mpf
sim/DNN/*.mti
sim/DNN/*.wlf
sim/DNN/work/*

sim/Top/*
!sim/Top/done.do 
!sim/Top/reset.do 
!sim/Top/sourcefile.txt 
!sim/Top/start.do

sim/OutLayer/*
!sim/OutLayer/done.do 
!sim/OutLayer/reset.do 
!sim/OutLayer/sourcefile.txt 
!sim/OutLayer/start.do
!sim/OutLayer/wave.do

sim/CNN/*
!sim/CNN/done.do 
!sim/CNN/reset.do 
!sim/CNN/sourcefile.txt 
!sim/CNN/start.do
!sim/CNN/*.csv
!sim/CNN/wave.do