sim/PE/*.mpf
sim/PE/*.mti
sim/PE/*.wlf
sim/PE/work/*

sim/multipler/*.mpf
sim/multipler/*.mti
sim/multipler/*.wlf
sim/multipler/work/*

sim/relu/*.mpf
sim/relu/*.mti
sim/relu/*.wlf
sim/relu/work/*

sim/MAC/*.mpf
sim/MAC/*.mti
sim/MAC/*.wlf
sim/MAC/work/*

sim/DNN/*.mpf
sim/DNN/*.mti
sim/DNN/*.wlf
sim/DNN/work/*